.fl {
    float: left;
}

.fr {
    float: right;
}

.c-shadow {
    box-shadow: 1px 5px 5px #00000016
}

.c-rshadow {
    box-shadow: 13px 0px 30px #00000016
}

.hamburg-menu {
    font-size: 27px;
    color: #757575;
    padding: 21px;
    width: 90px;
    float: left;
}

.mobile-menu-bar {
    width: 100%;
    height: 70px;
    background-color: white;
    position: fixed;
    left: 0px;
    top: 16px;
}

.c-login-container {
    height: 100px;
    padding: 20px;
    float: right;
}

.buffer {
    width: 100%;
    height: 70px;
}

.sort-bar {
    width: 100%;
    height: 50px;
}

.apps-container {
    width: 100%;
}

.new-app-button {
    width: 90%;
    background-color: white;
    height: 60px;
    margin-left: 5%;
    margin-top: 14px;
    margin-bottom: 14px;
    border-radius: 10px;
}

.new-app-add { }

.new-app-creation-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.178);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

.new-app-creation-ui {
    position: fixed;
    width: 90%;
    height: 80%;
    left: 5%;
    top: 10%;
    z-index: 99999;
    background-color: white;
    border-radius: 10px;
    opacity: 0;
    transition: 0.1s;
    pointer-events: none;
}

.creation-ui-header {
    width: 100%;
    height: 50px;
}

.creation-ui-footer {
    width: 90%;
    height: 50px;
    margin-top: 15px;
    position: fixed;
    left: 0px;
    /* padding: 5%; */
    /* margin: 5%; */
    padding-left: 5%;
    padding-right: 5%;
    bottom: 11%;
}

.creation-ui-create-button {
    float: right;
    border-radius: 10px;
    width: 30%;
    margin-right: 10px;
    height: 40px;
    line-height: 40px;
    background-color: #36E29B;
    text-align: center;
    color: white;
}

.creation-ui-feilds {
    background-color: white;
    /* width: 95%; */
    height: 80%;
    margin-left: 2%;
    margin-right: 2%;
    border-style: solid;
    border-color: white;
}

.name-input {
    overflow: hidden;
    position: fixed;
    width: 70%;
    height: 40px;
    margin-left: 5%;
    padding-left: 1%;
    font-size: 16px;
    border: none;
    border-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #757575;
    color: #757575;
}

.name-label {
    position: fixed;
    margin-left: 6%;
    margin-top: 13px;
    font-size: 16px;
    transition: 0.1s;
    pointer-events: none;
    color: #757575;
}

.creation-header-exit {
    float: left;
    font-size: 22px;
    padding: 10px;
    color: #757575;
}

.radio-status-selection {
    width: 100%;
    height: 200px;
    margin-top: 75px;
}

.c-radio-option {
    height: 50px;
    margin-left: 6%;
    width: 83%;
    color: #757575;
    background-color: white;

}

.c-app {
    width: 90%;
    background-color: white;
    height: 60px;
    margin-left: 5%;
    margin-top: 14px;
    margin-bottom: 14px;
    border-radius: 10px;
}

.c-app-name {
    width: 100px;
    color: #757575;
    padding: 20px;
    font-size: 19px;
    float: left;
}

.c-app-strip {
    width: 12px;
    height: 60px;
    float: right;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.colorNone {
    background-color: #A3A3A3;
}

.colorApplied {
    background-color: #E1C6B9;
}

.colorInterview {
    background-color: #4A8CB9;
}

.colorRejected {
    background-color: #D933B9;
}

.colorOffer {
    background-color: #4A33B9;
}

.m-icon {
    font-size: 22px;
    margin-right: 10px;
}

.m-item {
    width: 90%;
    padding: 15px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px;
    color: #757575;
}

.m-login-container {
    width: 50%;
    height: 53px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    position: fixed;
    bottom: 0px;
    background-color: white;
}

.c-signout {
    height: 36px;
    font-size: 13px;
    line-height: 34px;
    font-family: Roboto,arial,sans-serif;
    text-decoration: none;
    color: #757575;
    padding-right: 15px;
}

.sliding-menu { 
    position: fixed;
    left: -100%;
    top: 0px;
    width: 60%;
    height: 100%;
    background-color: #ECEFF1;
    z-index: 99;
    color: #000000de;
    transition: 0.5s;
}

.menu-top-bar {
    border-top: 16px solid #4affb9;
    width: 100%;
    height: 70px;
    background-color: white;
}

#dark-cover {
    pointer-events: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #00000023;
    z-index: 50;
    opacity: 0;
    transition: 0.5s;
}